[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=newspaper
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Newspaper
Comment=Provide newspaper style to layer